<%- include('bootheader') -%>
  <%- include('menubar') -%>  

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Rajdhani', sans-serif;
}
</style>

<div class="jumbotron"> 
  <h1>Player Finder</h1> 
</div>


<!-- <form method="post" action="todo">
    todoStore: <input type="text" name="item"><br>
    <input type="submit" value="store">
</form> -->

  <% myAPI.map((player) => {%> 

  <div class="content">
      <img src="https://lh3.googleusercontent.com/proxy/ikHKZlxz7XqQA0XSgjdbLNUODmUZIXZUq3uPoFj08GzTJQRHuiD1pV3dsyTtqW8s4MbhmmD4aEimDb_35srseWHtpp_ivswfdo5xBlXZcK3mWWqOHQ-S4M0MeH8Jwg"/ alt="" >
      <div class="playerBio">
        <h3><%= player.first_name + " " + player.last_name%></h3>
        <h4><b><%= player.team.abbreviation + " - " +  player.position%></b>
        | <%=player.height_feet + "'" + player.height_inches + "\""%>
        | <%=player.weight_pounds%></h4>
        <!-- add game score -->
      </div>

      <form method="post" action="todo">
          <input type="hidden" name="item" value = "<%= player.first_name + " " + player.last_name%>"><br>
          <input type="hidden" name="idNumber" value = "<%=player.id%>"><br>
          <input class="btn btn-success" type="submit" value="Add">



</form>
  </div>


  <hr>
 <%})%>  


  <%- include('bootfooter') -%> 
