<%- include('bootheader') -%>
  <%- include('menubar') -%>  

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Rajdhani', sans-serif;
}
</style>

<div class="jumbotron"> 
  <h1>Player Finder</h1> 
</div>

 <form method="post" action="/getPlayer2"> 
  Add Another Player <br>
  First Name <input type="text" name="first_name"><br>
  Last Name <input type="text" name="last_name"> <br> 
  <br>
  <input type="submit"> 
</form>

  <% myAPI.map((player) => {%> 

  <div class="content">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png"/ alt="" >
      <div class="playerBio">
        <h3><%= player.first_name + " " + player.last_name%></h3>
        <h4><b><%= player.team.abbreviation + " - " +  player.position%></b>
        | <%=player.height_feet + "'" + player.height_inches + "\""%>
        | <%=player.weight_pounds%></h4>
        <!-- add game score -->
      </div>

      <div class="playerStats">
        <button type="button" class="btn btn-success">Add</button>
      </div>
  </div>


  <hr>
 <%})%>  

  <%- include('bootfooter') -%> 
