<%- include('bootheader') -%>
<%- include('menubar') -%>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Rajdhani', sans-serif;
}
</style>
</head>

    <h1>Settings</h1>
    <hr>
<h4>My Players</h4>

<form method="post" action="/showformdata">
    length is
    <%= JSON.stringify(userSettings.length) %>
    <table class="table table-bordered table-striped">
        <thead>
          <tr><th width=10%></th><th>Player</th><th>apikey</th><th>userId</th></tr>
        </thead>
        <tbody>
      <% for(let i=0; i<userSettings.length; i++){
          getPlayer2 = userSettings[i]
          console.log(`i=${i} document=${getPlayer2}`)
      %>
        <tr>
          <td>
            <input type="checkbox" name="player" checked value="<% getPlayer2.first_name + getPlayer2.last_name%>">
          </td>
          <td> <!-- click on domainName and see all keys with that domainName  -->
            <%= getPlayer2.first_name + " " + getPlayer2.last_name%>
          </td>
          <td><%= getPlayer2.last_name %></td>
          <td>
              <!--  only the owner can delete an apikey  -->
              <% if (getPlayer2.first_name=="Ben") {%>
                <p>im Ben</p>
          <%}%>
          </td>

        </tr>
      <%}%>

<table id = "settingsTable" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th width=10%>checkbox</th>
      <th>Player</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" name="player" value="durant"></td>
      <td>Kevin Durant</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="player" value="curry"></td>
      <td>Stephen Curry</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="player" value="jokic"></td>
      <td>Nikola Jokic</td>
    </tr>
  </tbody>
</table>




<!-- <p>
  <input type="button" class="btn btn-success btn-sm" onclick='selectAllPlayers()' value="Select All"/>
  <input type="button" class="btn btn-danger btn-sm" onclick='UnSelectAllPlayers()' value="Unselect All"/>
</p> -->


<p>
  <input type="button" onclick='selectAllPlayers()' value="Select All"/>
  <input type="button" onclick='UnSelectAllPlayers()' value="Unselect All"/>
</p>

<hr>
<h4>Statistics</h4>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th width=10%>checkbox</th>
      <th>Statistics</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" checked name="statistics" value="pts"></td>
      <td>Points</td>
    </tr>
    <tr>
      <td><input type="checkbox" checked name="statistics" value="reb"></td>
      <td>Rebounds</td>
    </tr>
    <tr>
      <td><input type="checkbox" checked name="statistics" value="ast"></td>
      <td>Assists</td>
    </tr>
    <tr>
      <td><input type="checkbox" checked name="statistics" value="stl"></td>
      <td>Steals</td>
    </tr>
    <tr>
      <td><input type="checkbox" checked name="statistics" value="blk"></td>
      <td>Blocks</td>
    </tr>
    <tr>
      <td><input type="checkbox" checked name="statistics" value="eff"></td>
      <td>Efficiency</td>
    </tr>
  </tbody>
</table>



<p>
  <input type="button" onclick='selectAllStats()' value="Select All"/>
  <input type="button" onclick='UnSelectAllStats()' value="Unselect All"/>
</p>

<hr>

<input type="submit" class="btn btn-success btn-sm" value="Save">

</form>

<br>

<title>JavaScript - Select/Unselect (Check/Uncheck) all CheckBoxes on Button Click.</title>
		<script type="text/javascript">
			function selectAllStats(){
				var items=document.getElementsByName('statistics');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=true;
				}
			}

			function UnSelectAllStats(){
				var items=document.getElementsByName('statistics');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=false;
				}
			}
		</script>


    <title>JavaScript - Select/Unselect (Check/Uncheck) all CheckBoxes on Button Click.</title>
    		<script type="text/javascript">
    			function selectAllPlayers(){
    				var items=document.getElementsByName('player');
    				for(var i=0; i<items.length; i++){
    					if(items[i].type=='checkbox')
    						items[i].checked=true;
    				}
    			}

    			function UnSelectAllPlayers(){
    				var items=document.getElementsByName('player');
    				for(var i=0; i<items.length; i++){
    					if(items[i].type=='checkbox')
    						items[i].checked=false;
    				}
    			}
    		</script>

<%- include('bootfooter') -%>
